<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="index.php">Gestion des commandes</a>
    </div>
	<div class="navbar-right">
      <ul class="nav navbar-nav">
		<li class="active"><a href="index.php?page=order"><span class="glyphicon glyphicon-home"></span> Commandes</a></li>
        <li><a href="index.php?page=order&action=add">Ajouter commande</a></li>
		<li class="active"><a href="index.php?page=customer"><span class="glyphicon glyphicon-home"></span> Client</a></li>
        <li><a href="index.php?page=customer&action=add">Ajouter client</a></li>
      </ul>
    </div>
  </div>
</nav>